<div class="main-cont d-flex justify-content-center align-items-center">
    <form
        class="bg-dark rounded p-3 d-flex flex-column justify-content-evenly"
        id="form"
        #form="ngForm"
        (ngSubmit)="accedi(form)"
    >
        <div class="form-group">
            <input
                type="email"
                id="email"
                name="email"
                required
                class="form-control"
                ngModel
                placeholder="email@email.com"
            />
        </div>
        <div class="form-group">
            <input
                placeholder="Password"
                type="password"
                id="password"
                name="password"
                required
                class="form-control"
                ngModel
            />
        </div>
        <button
            type="submit"
            class="btn btn-danger mt-3"
            [disabled]="form.invalid"
        >
            Accedi
        </button>
    </form>
</div>
